$margin-bottom: 20px;
$border-color: #ddd;
$border-radius: 1.5px;
$panel-grey: #f5f5f5;

.v2 {
  .panel {
    margin-bottom: $margin-bottom;
  }

  .panel-body {
    padding: 30px;

    h4 {
      margin-top: 0;
    }

    & > h4 {
      text-transform: uppercase;
    }
  }

  .panel-default {
    .panel-heading {
      background-color: #DFDFDF;
    }
  }

  .panel-default {
    border: 1px $border-color solid;

    .panel-heading {
      padding: 10px;
      border-bottom: 1px $border-color solid;
    }
  }

  .panel-minimal {
    .panel-heading {
      padding: 10px 0;

      h4 {
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    .panel-body {
      border: 1px $border-color solid;
      border-radius: $border-radius;

      [class*='col-']:last-of-type {
        padding-right: 15px;
      }
    }
  }

  .media {
    position: relative;

    .media-left {
      padding-right: 10px;
      vertical-align: top;
    }

    .media-middle {
      vertical-align: middle;
    }

    .media-left,
    .media-body {
      display: table-cell;
    }

    .media-body {
      width: 100%;
    }

    img.media-object {
      width: 64px;
      height: 64px;
    }
  }

  .form-horizontal {
    .form-inline {
      font-size: inherit;
    }
  }

  .form-inline {
    font-size: 0;
    .form-group {
      display: inline-block;
      vertical-align: middle;
      padding-right: 15px;
    }

    .form-group:last-of-type {
      padding-right: 0;
    }
  }

  ul.list-group {
    li {
      padding: 15px 10px;
      border-bottom: 1px $border-color solid;
    }

    li:last-child {
      border-bottom: 0;
    }
  }

  ul.simple-list-view,
  ul.list-group {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .well {
    border: 1px $border-color solid;
    background-color: #f5f5f5;
    padding: 19px;
    border-radius: $border-radius;
    margin-bottom: $margin-bottom;
  }

  .context-actions {
    position: absolute;
    right: 0;
    top: 0;

    .context-action-item {
      padding: 5px 8px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .action-buttons.pull-right {
    .action-button-item {
      margin-left: 10px;
    }
  }
}