@import 'typography';
@import 'colors';

.v2 {
  color: rgb(66, 66, 66);
  font-size: $normal-font;

  .link--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .google_oauth2-link,
  .google-link,
  .linkedin-link,
  .facebook-link {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-horizontal {
    label.vmiddle {
      line-height: 50px;
    }
  }

  .form-group {
    label {
      font-size: $font-small;
      font-weight: 100;
      color: #10a1d6;
    }

    textarea.form-field {
      resize: vertical;
    }

    .currency_input, .form-field,
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
      border: 1px rgba(74,74,74, 0.15) solid;
      outline: none;
      border-radius: 1px;
    }

    .form-field:focus {
      background-color: #FAFAFA;
      border: 1px rgba(16, 161, 214, 0.15) solid;
    }

    .currency_input {
      .form-field {
        border: none;
      }
    }

    strong {
      label {
        opacity: .5;
        font-weight: bold;
        color: #000;
      }
    }
  }

  .btn {
    padding: 15px 20px;
    border: 1px rgba(74,74,74, 0.15) solid;
    font-size: $font-smaller;
    border-radius: 1px;

    &.btn-default {
      background-color: white;
      color: rgb(66, 66, 66);
    }

    &.btn-primary {
      background-color: $darkblue;
      color: white;
    }
  }
}