<% title "DreamFunded | Education " %>

<div  class="pageTopBlock education-bg">
              <div class="container">
                <div class="pageTopBlock__inn">
                  <div class="pageTopBlock__title">
                    <h1>Investing 101</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="education">
              <div class="container clearfix text-center">
                <div class="education__block">
                  <div class="education__block__title">
                    <h3>For Investors</h3>
                  </div>
                  <ul class="reset-list">
                    <li><a href="/education/investors-basics">The Basics</a></li>
                    <li><a href="/education/investors-important-terms">Important Terms</a></li>
                    <li><a href="/education/investing-tips">Investing Tips & Strategies</a></li>
                    <li><a href="/education/taxes-gains">Taxes & Gains</a></li>
                    <li><a href="/education/investor-qa">Q&A</a></li>
                  </ul>
                </div>
                <!-- <div class="education__block">
                  <div class="education__block__title">
                    <h3>For Startups</h3>
                  </div>
                  <ul class="reset-list">
                    <li><a href="/education/startup-basics">The Basics</a></li>
                    <li><a href="/education/startups-important-terms">Important Terms</a></li>
                    <li><a href="/education/fund_raising_guide">Fund Raising Guide</a></li>
                    <li><a href="/education/jobs_act">J.O.B.S. Act</a></li>
                    <li><a href="/education/employee-qa">Q&A</a></li>
                  </ul>
                </div> -->
              </div>
            </div>
