<p class='clearfix margin-top-none'>
  <a href="#" class='font-smaller uppercase toggle-edit pull-right'>Edit</a>
</p>
<div class='row'>
  <div class='col-3 uppercase grey-color'>Bio</div>
  <div class='col-9'>
    <%= model.get('bio') %>
  </div>
</div>
<div class='row'>
  <div class='col-3 uppercase grey-color'>Aspirations</div>
  <div class='col-9'>
    <%= model.get('aspirations') %>
  </div>
</div>
<div class='row'>
  <div class='col-3 uppercase grey-color'>Achievements</div>
  <div class='col-9'>
    <%= model.get('achievements') %>
  </div>
</div>
<div class='row'>
  <div class='col-3 uppercase grey-color'>Skills</div>
  <div class='col-9'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare elit id quam elementum, ut consequat lacus molestie. Curabitur in consequat nunc, id sagittis tortor. Etiam ut fermentum ante, eget consectetur mauris. Duis est leo, accumsan nec euismod et, egestas id enim. Nunc finibus mattis porta. Suspendisse et malesuada velit, a gravida metus. Morbi molestie viverra efficitur. Fusce id semper sem. Nam pharetra, velit vitae luctus gravida, ante orci ullamcorper quam, rutrum fermentum neque urna eget quam.
  </div>
</div>
<div class='row'>
  <div class='col-3 uppercase grey-color'>What I'm Looking For</div>
  <div class='col-9'>
    <%= model.get('looking_for') %>
  </div>
</div>