<div class='panel panel-minimal'>
  <div class='panel-heading'>
    <h4><%= title %> <a href="#" class='font-smaller toggle-edit pull-right'>Edit</a></h4>
  </div>
  <div class='panel-body'>
    <div class='section-container'></div>
  </div>
</div>