<div class='panel panel-minimal'>
  <div class='panel-heading'>
    <h4>Investments</h4>
  </div>
  <div class='panel-body clearfix flex-grid centered'>
    <% model.investments().each(function(investment) { %>
        <div class='col-3'>
          <div class='user-investment'>
            <div class='image-container'>
              <a href="#">
                <img src="<%= investment.company().get('image_url') %>">
              </a>
            </div>
            <h4 class='centered'><%= investment.company().get('name') %></h4>
            <div class='grey-color'>
              <%= investment.get('date_invested') %>
            </div>
          </div>
        </div>
    <% }) %>
  </div>
</div>