<div class="header">
  <h1 class="centered"> Profile </h1>
</div>
<div class='content-container'>
  <div class='compact-max-width-layout center-block'>
    <div class='fluid-container'>
      <div class='row'>
        <div class='col-3'>
          <a href="#">
            <img class='width-100' src="<%= model.get('image_url') %>">
          </a>
          <div>
            <h2><%= model.get('first_name') %></h2>
          </div>
        </div>
        <div class='col-9'>
          <div id='basic-info-section'></div>

          <div class='panel panel-minimal'>
            <div class='panel-heading'>
              <h4>Activity</h4>
            </div>
            <div class='panel-body'>
              <div class='panel-section-title'>Hello</div>
            </div>
          </div>

          <div id='about-section'></div>

          <div id='investment-section'></div>

          <div class='panel panel-minimal'>
            <div class='panel-heading'>
              <h4>Work Experience &amp; Education</h4>
            </div>
            <div class='panel-body'>
              <div class='panel-section-title'>Hello</div>
            </div>
          </div>

          <div class='panel panel-minimal'>
            <div class='panel-heading'>
              <h4>Connections/Mutual Connections</h4>
            </div>
            <div class='panel-body'>
              <div class='panel-section-title'>Hello</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>