@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
/* line 11, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/colors.css.scss */
.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.22);
}

/* line 9, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.wrap {
  font-family: "Calibri";
  width: 100%;
}

/* line 14, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.gray {
  color: #ECECEC;
}

/* line 18, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit-company-button {
  font-family: Arial, sans-serif;
  color: #424242;
  display: block;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  padding: 15px;
  border: 2px solid #1979b1;
  vertical-align: super;
  border-radius: 5px;
}

/* line 30, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-update-btn {
  display: block;
  width: 80%;
  margin: auto 10%;
}

/* line 36, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit-company-button:hover {
  background-color: #eee;
}

/* line 42, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-detail:nth-child(1) {
  margin-top: 100px;
}

/* line 45, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.white-section {
  padding-bottom: 100px;
}

/* line 49, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.waitlist {
  font-style: italic;
}

/* line 56, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.sign-in-blur {
  position: relative;
}

/* line 59, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.icon-lock {
  vertical-align: bottom;
}

/* line 63, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nav-links a {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
  font-family: 'Gotham',sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}

/* line 71, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-cover-photo {
  min-height: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* line 78, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nav-links {
  text-align: center;
}

/* line 81, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-logo {
  width: 150px;
}

/* line 84, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.campaign-website {
  margin-top: 50px;
  margin-left: -20px !important;
  margin-bottom: 50px;
}

/* line 89, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.website-url {
  font-size: 13px;
  color: #424242 !important;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  border-bottom: 2px solid #016baa;
}

/* line 96, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.social-media-campaign {
  display: inline-block;
}

/* line 99, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.help-our-campaign {
  color: gray;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .1px;
  font-family: Gotham;
  text-align: center;
}

/* line 108, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
hr.div {
  margin: 0 15px;
  border: none;
  border-bottom: 1px rgba(74, 74, 74, 0.2) solid;
}

/* line 115, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-header.company-section h1.section-title {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 124, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section:last-of-type {
  margin-bottom: 0;
}

/* line 128, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section {
  font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding-top: 75px;
  margin-bottom: 75px;
}
/* line 136, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section hr.div {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px rgba(74, 74, 74, 0.05) solid;
}
/* line 143, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .fluid-container hr.div {
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}
/* line 150, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section h1, .company-section h2 {
  margin: 0;
  margin-bottom: 10px;
}
/* line 155, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section h1.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
/* line 161, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section h2.section-title {
  font-size: 1.5rem;
}
/* line 165, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .section-content {
  line-height: 1.7rem;
}
/* line 169, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .section-content, .company-section h2.section-title {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 174, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .section-sub-heading {
  margin-bottom: 1rem;
}
/* line 178, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .company-section-tagline {
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Droid Serif', serif;
  color: #717171;
}
/* line 187, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .company-quote, .company-section .company-section-tagline {
  padding-left: 1rem;
}
/* line 191, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .company-quote {
  margin-bottom: 1rem;
}
/* line 195, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .said-by {
  padding-left: 1rem;
}
/* line 198, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .said-by img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
/* line 206, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .said-by > span {
  line-height: 1.3rem;
}
/* line 210, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section .said-by .said-by-title {
  opacity: .5;
}

/* line 216, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-quote {
  position: relative;
  font-family: 'Droid Serif', serif;
  font-size: 2.1rem;
  opacity: .75;
  letter-spacing: 1px;
}
/* line 223, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-quote .sub-quote {
  padding-top: 8px;
  font-size: .9rem;
}

/* line 229, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.category-name {
  font-family: Gotham, sans-serif;
  color: #4a4a4a;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font-size: 25px;
}

/* line 236, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-profile-bottom-line {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 241, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.paymennt-page-logo {
  left: 15%;
  width: 85%;
}

/* line 245, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-basic-info {
  width: 500px;
  font-size: 2em;
  font-weight: bold;
  font-family: Gotham, sans-serif;
  letter-spacing: -1px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* line 257, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-cateogry {
  font-size: 12px;
  color: #fff;
  opacity: 0.9;
  margin-left: 50px;
}

/* line 264, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-cateogry,
.company-info-category {
  letter-spacing: 1px;
  font-family: Arial;
  text-transform: uppercase;
}

/* line 272, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-finance-info {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

/* line 278, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-admin-editing {
  position: absolute;
  right: 0;
}
/* line 282, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-admin-editing > a {
  display: block;
  margin-bottom: 5px;
}

/* line 287, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button {
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
  text-align: center;
}

/* line 293, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button button {
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 12px;
}

/* line 299, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button .company-button {
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 12px;
  display: block;
  width: 80%;
  margin-left: 10%;
}

/* line 307, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button .waitlist-b {
  margin-left: 0;
  margin-right: 2%;
}

/* line 312, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button form {
  display: flex;
  margin-left: 3%;
}

/* line 316, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.no-margin-top {
  margin-top: 50px !important;
}

/* line 319, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-right-panel {
  font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
  position: absolute;
  width: 25%;
  min-width: 310px;
  max-width: 400px;
  right: 18%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100%;
  /*padding: 3rem 1.5rem;*/
  box-sizing: border-box;
}
/* line 332, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-right-panel *, .company-info-right-panel *:before, .company-info-right-panel *:after {
  box-sizing: inherit;
}

/* line 337, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-slogan {
  font-weight: 500;
  font-family: Arial;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  font-style: italic;
}

/* line 345, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-location {
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 0;
  font-weight: 100;
}

/* line 352, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit-profile-campaign {
  width: 60%;
}

/* line 355, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.edit_fin_info {
  display: inline-block;
  width: 35%;
}

/* line 359, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company_located {
  font-size: 14px;
}

/* line 362, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#formc-button {
  width: inherit;
  text-indent: 0;
}

/* line 367, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.document-url {
  color: grey;
  vertical-align: top;
}

/* line 371, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.category-name {
  font-size: 20px;
}

/* line 374, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-name {
  font-weight: bold;
  padding: 3px;
  margin-right: 60px;
  margin-bottom: 25px;
  cursor: pointer;
}

/* line 381, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.active-tab {
  border-bottom: 2px solid #10a1d6;
}

/* line 384, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-content {
  width: 76%;
  max-width: 800px;
  margin-left: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* line 392, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tab-content p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: .1px;
  font-family: GothamBook;
  color: #4b4b4b;
}

/* line 401, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.about_tab_content {
  display: block;
}

/* line 404, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fin_info_col1, .fin_info_col2, .fin_info_col3 {
  display: inline-block;
  width: 30%;
  margin-right: 0 !important;
  font-family: GothamBook;
}

/* line 410, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fin_info_col1 {
  margin-left: 50px;
}

/* line 413, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.companies-container {
  display: table;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* line 420, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-container {
  display: table-cell;
  width: 270px;
  /*	height: 480px;*/
  padding: 20px;
  margin: 20px 1%;
  float: left;
  background: white;
  position: relative;
}

/* line 431, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment .headline {
  padding: 5px 14px;
  font-size: 12px;
  background-color: #DDD;
  border: solid 1px #bbb;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}

/* line 447, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_content {
  padding: 1px 15px;
  background-color: #FFF;
  border: solid 1px #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

/* line 459, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment {
  max-width: 700px;
  margin: 20px auto;
  position: relative;
}

/* line 464, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_comment_form {
  display: none;
}

/* line 467, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_button {
  margin-bottom: 15px;
}

/* line 470, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.reply_comment_button {
  padding: 3px 8px 2px 8px;
  font-size: 12px;
  color: #000;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));
  background: -moz-linear-gradient(top, #f5f5f5, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');
  text-decoration: none;
}

/* line 484, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nested_messages {
  margin-left: 50px;
}

/* line 487, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0px;
}

/* line 490, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_as {
  font-weight: bold;
  font-family: Verdana;
}

/* line 494, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_extarea {
  margin: 10px;
  width: 60%;
}

/* line 498, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment_submit_button {
  margin-bottom: 10px;
  margin-left: 10px;
}

/* line 502, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.comment .created_at {
  color: #666;
  padding-left: 8px;
  font-size: 13px;
}

/* line 507, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.name a {
  font-size: 13px;
}

/* line 511, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.register-content {
  margin-top: 40px;
}

/* line 515, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-image {
  height: 200px;
  width: 290px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 523, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-wrap {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

/* line 529, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image {
  max-width: 180px;
  max-height: 180px;
}

/* line 534, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-gray {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  max-width: 180px;
  max-height: 180px;
}

/* line 541, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-description {
  margin: 5px;
  height: 200px;
}

/* line 546, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.text {
  height: 160px;
  overflow: auto;
  border-bottom: 10px solid white;
}

/* line 552, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button {
  flex: 0 0 120px;
  background: #10a1d6;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

/* line 562, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button:disabled {
  background: gray;
  cursor: default;
}

/* line 567, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-button:focus {
  outline: 0;
}

/* line 571, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-button {
  font-size: 1.1rem;
  font-weight: bold;
}

/* line 575, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.mail-to-button {
  text-align: center;
}

/* line 580, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.button-wrap {
  text-align: center;
}

/* line 584, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.register-wrap {
  width: 500px;
}

/* line 588, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.description-wrap {
  border: 1px solid gray;
  margin: 25px auto;
}

/* line 593, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.description-box {
  width: 95%;
  height: 200px;
  margin: 2%;
  border: none;
  outline: 0;
  font-size: 16px;
}

/* line 602, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-title {
  text-align: left;
  width: 63%;
  display: inline-block;
  vertical-align: top;
}

/* line 610, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.indent {
  text-indent: 50px;
}

/* line 614, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.no-margin {
  margin: 0;
}

/* line 618, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.small-margin {
  margin: 10px 0;
}

/* line 622, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container {
  display: inline-block;
  width: 32%;
  margin-left: 3%;
  margin-bottom: 3%;
  /*height: 530px;*/
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* line 632, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container:hover {
  border: 1px solid #10a1d6;
}

/* line 636, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-container:hover hr {
  border-top: 1px solid #10a1d6;
}

/* line 640, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stats-image {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

/* line 650, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-image-wrap {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px auto;
  background: white;
  text-align: center;
}

/* line 663, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.numbers {
  /*height: 200px;*/
  width: 85%;
  margin: 0 auto;
}

/* line 674, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.stretch {
  min-height: 600px;
}

/* line 678, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.posted {
  font-size: 16px;
  text-indent: 100px;
}

/* line 683, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.topbar {
  width: 100%;
  border-bottom: 1px solid gray;
  height: 30px;
}

/* line 689, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right {
  text-align: right;
  float: right;
}

/* line 694, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-align {
  text-align: right;
}

/* line 698, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.spaced {
  margin-right: 20px;
}

/* line 702, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.meter {
  height: 10px;
  /* Can be anything */
  position: relative;
  background: #fff;
  opacity: 0.9;
  margin-left: 7%;
  width: 86%;
  margin-top: 8px;
  margin-bottom: 3px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 2px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

/* line 718, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.meter > span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

/* line 734, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.percent-funded {
  margin: 0 36%;
}

/* line 738, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.orange > span {
  background-image: linear-gradient(to bottom, #0D87B3, #68C3F4);
}

/* line 742, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.back {
  background-image: black;
  position: absolute;
}

/* line 747, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.video-box {
  margin-top: 10px;
}

/* line 750, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.max-width-image {
  max-width: 500px;
}

/* line 753, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.invest-amount {
  text-align: center;
  width: 50% !important;
}

/*.youtube-video{
	width: 100%;
	height: 400px;
}*/
/*youtube-video different screene*/
@media screen and (min-width: 480px) {
  /* line 763, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 250px;
    height: 175px;
  }
}
/*# Tablet*/
@media screen and (min-width: 768px) {
  /* line 771, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 100%;
    height: 400px;
  }
}
/*# Desktop*/
@media screen and (min-width: 992px) {
  /* line 779, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 400px;
    height: 300px;
  }
}
/*# Huge*/
@media screen and (min-width: 1199px) {
  /* line 786, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 500px;
    height: 400px;
  }
}
/*# Huge*/
@media screen and (min-width: 1400px) {
  /* line 793, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .youtube-video {
    width: 640px;
    height: 360px;
  }
}
/* line 799, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.image-max-width {
  max-width: 600px;
  vertical-align: bottom;
}

/* line 804, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.section {
  border: 1px solid black;
  margin: 20px 0;
}

/* line 809, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-band div {
  display: inline-block;
}

/* line 813, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-box {
  width: 100%;
  overflow: scroll;
  margin-top: 1%;
  position: relative;
}

/* line 820, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.team-pic {
  float: left;
  margin: 0 20px 10px 0;
}

/* line 825, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-align {
  text-align: right;
}

/* line 829, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.left-column {
  width: 45%;
  float: left;
  margin: 0 2%;
  height: 148px;
}

/* line 835, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.left-column-portfolio {
  width: 45%;
  float: left;
  margin: 0 2%;
}

/* line 841, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.right-column-portfolio {
  width: 100%;
  margin: 0 2%;
}

/* line 847, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.profile-wrap {
  width: 1000px;
}

/* line 851, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fake-button {
  width: 80%;
  background: gray;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto;
}

/* line 860, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.thank-you-margin {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  width: 60% !important;
  margin: 0 auto;
  background: white;
  padding: 20px;
}

/* line 868, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.margin-bottom-50 {
  margin-bottom: 20px;
}

/*R I B B O N*/
/* line 874, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -45px;
  top: 61px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

/* line 893, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}

/* line 905, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.slide {
  width: Calc(100% - 196px);
  /*196px means both sides (left 98px and right 98px)*/
  margin: 0 auto;
}

/* line 910, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

/* line 915, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus {
  outline: none;
}

/* line 918, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #10a1d6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 928, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

/* line 939, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

/* line 942, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* line 952, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* line 961, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

/* line 971, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 977, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* line 983, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* line 992, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

/* line 995, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/*M O B I L E*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 1007, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .twenty {
    font-family: Helvetica;
  }

  /* line 1010, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .twenty {
    font-size: 31px !important;
  }

  /* line 1013, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .video-box {
    margin: 20% auto;
  }

  /* line 1016, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-description {
    height: 230px;
  }

  /* line 1019, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-logo {
    display: block;
  }

  /* line 1022, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .video-box {
    display: block;
  }

  /* line 1025, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .social-media-campaign {
    display: block;
  }

  /* line 1028, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .tab-name {
    margin-right: 10px;
  }

  /* line 1031, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .nav-links a {
    font-size: 12px;
  }

  /* line 1034, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-info-cateogry, .company-info-category {
    font-size: 1.5em !important;
  }

  /* line 1037, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-basic-info {
    font-size: 4em;
    font-weight: bold;
    margin-left: 3%;
  }

  /* line 1042, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-logo {
    margin-left: 3%;
  }

  /* line 1045, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-slogan {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
  }

  /* line 1050, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-location {
    font-size: 40px;
  }

  /* line 1053, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
  .company-section h2.section-title {
    margin-left: 12%;
  }
}
/* line 1059, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.icon-play {
  border: 5px white solid;
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 40px #000;
}
/* line 1070, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.icon-play::before {
  content: '\25BA';
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}

/* line 1078, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 100;
}
/* line 1088, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#video-play-button .icon::before {
  font-size: 3rem;
}

/* line 1093, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.video-popup-overlay:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 1100, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-detail {
  margin-bottom: 1rem;
  margin-left: 2rem;
  letter-spacing: 1px;
}

/* line 1106, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-category {
  opacity: .5;
  font-size: .65rem;
}

/* line 1111, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info-container {
  max-width: 1030px;
  margin: 10px auto;
  height: 100%;
}

/* line 1118, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button .currency_input, .fund-america-invest-button #invest_amount {
  font-size: 1.4rem;
}
/* line 1120, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button .currency_input *, .fund-america-invest-button #invest_amount * {
  font-size: 1.4rem;
}
/* line 1125, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fund-america-invest-button .currency_input {
  flex: 1;
  padding-left: 8px;
  margin-right: 8px;
  border-bottom: 2px #10a1d6 solid;
}

/* line 1133, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.currency_input {
  text-align: left;
}
/* line 1136, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.currency_input input {
  border: none;
}

/* line 1141, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#invest_amount {
  padding: 8px;
  padding-left: 0;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 76%;
}

/* line 1151, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info {
  color: white;
}

/* line 1155, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info.top {
  background: linear-gradient(to bottom, #000 0, transparent 100%);
  top: 0;
  padding: 25px 0;
  font-size: 12px;
  opacity: .9;
  font-weight: bold;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
}
/* line 1166, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-info.top .follow {
  margin-right: 5px;
}

/* line 1171, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-content {
  background-color: white;
  padding: 3rem 0;
  box-sizing: border-box;
}
/* line 1176, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-content *, .company-content *:before, .company-content *:after {
  box-sizing: inherit;
}

/* line 1181, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-content-container {
  margin: 0 auto;
  max-width: 1030px;
  position: relative;
}

/* line 1187, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav {
  z-index: 1000;
  color: #424242;
  box-shadow: 0 5px 8px -8px rgba(74, 74, 74, 0.5);
  font-family: 'Gotham',sans-serif;
}
/* line 1193, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .media-logo {
  display: inline-block;
  float: left;
  margin: 5px 15px;
  border-radius: 3px;
}
/* line 1200, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container > .company-nav-links {
  padding-top: 1.5rem;
}
/* line 1205, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container .social-invites {
  padding-top: 5px;
}
/* line 1209, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  float: left;
  padding: 0;
  margin: 0;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 1220, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container ul.float-opposite {
  float: right;
}
/* line 1222, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container ul.float-opposite .share-invites-social {
  margin: 0;
}
/* line 1226, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container ul.float-opposite li {
  margin-right: 0;
  margin-left: 1.5rem;
}
/* line 1232, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#company-nav .company-content-container ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

/* line 1240, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.media-logo {
  width: 46px;
  height: auto;
}

/* line 1245, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.fixed-nav {
  position: fixed;
  top: -70px;
  width: 100%;
  background-color: white;
}

/* line 1252, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tags {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: .9rem;
  font-weight: normal;
  text-shadow: none;
  padding-top: 1rem;
}
/* line 1261, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tags li {
  display: inline-block;
  text-align: center;
}
/* line 1265, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tags li a {
  color: rgba(74, 74, 74, 0.5);
  background-color: white;
  padding: 5px 8px;
  border: 1px solid rgba(74, 74, 74, 0.2);
  border-radius: 50px;
}
/* line 1273, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.tags li a:hover {
  background-color: #eeeeee;
}

/* line 1280, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial-card img {
  margin-bottom: 10px;
  width: 100%;
}
/* line 1284, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial-card input {
  margin-bottom: 10px;
}

/* line 1289, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial .section-content, .testimonial .fluid-container {
  text-align: center;
}
/* line 1291, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial .section-content img, .testimonial .fluid-container img {
  width: 92px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 1298, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial .section-content .testimonial-details, .testimonial .fluid-container .testimonial-details {
  font-family: 'Gotham', sans-serif;
}
/* line 1302, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.testimonial .section-content .panel, .testimonial .fluid-container .panel {
  display: none;
}

/* line 1307, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .state {
  position: absolute;
  left: -10000px;
}

/* line 1312, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .radio-tab {
  cursor: pointer;
  opacity: .4;
  display: block;
  padding-top: 20px;
  border-radius: 5px;
}

/* line 1320, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .radio-tab:hover {
  background-color: rgba(100, 100, 100, 0.1);
  opacity: .6;
}

/* line 1326, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .panels {
  border-top: 1px solid rgba(100, 100, 100, 0.05);
}
/* line 1330, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .panels-content {
  max-width: 500px;
  min-height: 150px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 1337, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.radio-tabs .panels-content i {
  font-family: 'Droid Serif', serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.7rem;
}

/* line 1345, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#testimonial-0-radio:checked ~ .radio-label-tabs #testimonial-0-tab,
#testimonial-1-radio:checked ~ .radio-label-tabs #testimonial-1-tab,
#testimonial-2-radio:checked ~ .radio-label-tabs #testimonial-2-tab {
  opacity: 1;
}

/* line 1351, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#testimonial-0-radio:checked ~ .panels #testimonial-0-panel,
#testimonial-1-radio:checked ~ .panels #testimonial-1-panel,
#testimonial-2-radio:checked ~ .panels #testimonial-2-panel {
  display: block;
}

/* line 1358, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#team-section .links {
  padding: 0 15px;
}
/* line 1362, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
#team-section .nested-fields {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 1368, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.quote-symbol {
  font-size: 4rem;
  position: absolute;
  top: -15%;
  left: 0;
  opacity: 0.5;
  font-style: italic;
}

/* line 1377, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.closing-quote {
  font-size: 4rem;
  font-style: italic;
  opacity: 0.5;
}

/* line 1383, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section-tagline:after, .company-section-tagline:before {
  content: '"';
  font-size: 3rem;
  font-family: monospace;
  font-style: italic;
}

/* line 1390, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section-tagline:before {
  top: -15px;
  left: 0px;
}

/* line 1395, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.quote-section {
  min-width: 400px;
  display: inline-block;
}

/* line 1400, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.quote-label {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
  font-family: 'Gotham',sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
}

/* line 1408, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.company-section-tagline:after {
  top: 21px;
}

/* line 1413, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.content-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: lighter;
  color: rgba(74, 74, 74, 0.5);
  font-size: 1.1rem;
}

/* line 1422, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.sub-section-content, .sub-section-content p {
  font-size: .875rem;
}

/* line 1427, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.investment-perk {
  line-height: 1.5rem;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
}
/* line 1432, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.investment-perk .perk-amount {
  padding-right: 1.5rem !important;
}
/* line 1436, /Users/apprentice/Desktop/dreamfundedvc/app/assets/stylesheets/companies.css.scss */
.investment-perk .perk-content {
  font-family: 'Droid Serif', serif;
  font-weight: lighter;
  color: rgba(74, 74, 74, 0.7);
}
