<% title "DreamFunded | Mentors" %>

<div style='background-image: url("assets/template/mentors/top-bg.jpg")' class="pageTopBlock">
              <div class="container">
                <div class="pageTopBlock__inn">
                  <div class="pageTopBlock__title">
                    <h1>DreamFunded’s Mentor Network</h1>
                  </div>
                </div>
              </div>
</div>

<div class="mentors">
  <div class="container">
    <div class="row">
      <% @advisors.each do |advisor| %>
        <div class="col-md-4 col-sm-6">
          <div class="mentor">
            <a href="#" class="mentor__avatar ofit-block">
              <%= image_tag( advisor.image.url ) %>
            </a>
            <div class="mentor__cnt">
              <div class="mentor__cnt__inn">
                <div class="mentor__name"><span><%= advisor.name %></span></div>
                <div class="mentor__pos"><span><%= advisor.title %></span></div>
                <div class="mentor__desc">
                  <p><%= nl2br(h(advisor.bio)).html_safe %></p>
                </div>
              </div>
              <!-- <div class="mentor__more"><a href="#">Read More</a></div> -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
