<div id='main-container' class='v2'>
	<div class="header">
	  <h1 class="centered">Profile</h1>
	</div>
	<div class='content-container'>
		<div class='compact-max-width-layout center-block'>
			<%= react_component 'UserScreen', {user: @user_data} %>
		</div>
	</div>
</div>