<% title "PhoenixBird | About" %>

<div class="about">
  <div class="container">
    <h1>About Us</h1>

    <h3>Our Story</h3>
    <p>In Late 2013, after founding SF Angels Group in San Francisco, a 32-member angel group in the heart of San Francisco, PhoenixBird.com co-founder Manny Fernandez noticed that many investors wanted to co-invest with him and SF Angel Group to gain insider access to the some of the most promising investment opportunities in Silicon Valley.</p>

    <h3>PhoenixBird In Short...</h3>
    <p>PhoenixBird is a world-class equity crowdfunding platform providing exclusive insider access to some of the most sought after seed- and later-stage private companies in America.</p>

    <h3>Who We Are:</h3>
    <p>We have a very strong founding team growing PhoenixBird into one the premier equity crowdfunding platforms in the new crowdfunding landscape. Our co-founders have extensive backgrounds in angel investing, venture capital and startup curation and our tech team comes from the best companies and universities in the world. We are backed financially by a very helpful group of experienced investors who offer invaluable advisor support and advice. Their experience, combined with PhoenixBird's extensive network in Silicon Valley with top VC firms, Angel Groups and Incubators enable PhoenixBird to be a leader in this huge, new equity crowdfunding market.</p>

    <h3>PhoenixBird Founder:</h3>
    <p>Manny Fernandez, the founder and CEO of PhoenixBird, is a Silicon Valley angel investor, angel group founder, serial entrepreneur and keynote speaker. He has been successful leading his own ventures as well as advising other startups on their paths to success. Fernandez won the Equity Crowdfunding Leadership Award in 2014 for co-founding PhoenixBird. He had previously founded SF Angels Group in San Francisco, and he has been an investor with TiE Angels since 2012. Fernandez was named in Inc. Magazine’s list of the top 33 entrepreneurs to watch in 2016 and was named 2014 SF Angel Investor of the Year. He is the 14th most followed Angel Investor on Twitter, with over 100,000 followers.</p>
    <p>An international keynote speaker, frequent judge and panelist for startup demo days, Bay Area corporations, colleges and universities, Fernandez has been a featured guest speaker at: NBC, CNBC Squawk Box (twice), South by Southwest (Texas), SLUSH (Finland), Epicenter Festival (Mexico), Stanford University, UC Berkeley, Harvard University, University of San Francisco (USF), PayPal, Yahoo!, Plug and Play, USAWeek in Europe, Intel Global Challenge, California Hispanic Chamber of Commerce’s (CHCC) SharkTank, Startup Grind, AngelHack Global Demo, Startup Weekend and many more.</p>

    <p>Please read about the rest of our team in the <a href="/team">Our Team</a> page.</p>

    <h3>How We Are Different:</h3>
    <p>PhoenixBird utilizes our extensive network in Silicon Valley to provide insider access to PhoenixBird members using Equity CrowdFunding. This allows PhoenixBird to choose from a large pool of investment opportunities to ensure that only the most promising opportunities make it to our platform for investment. Furthermore, we do not charge companies looking to raise money on our platform as many other platforms do. We believe charging startups turn many brilliant companies off from crowdfunding and reduce the amount of qualified investments on the platform.</p>

    <p>While Angel investing is rapidly increasing as a funding alternative for early stage companies, most investors, public and private, do not have the proper network or relationships to access proper investment opportunities.</p>
  </div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
