<% title "PhoenixBird | Diversity Network" %>



<div class= "about">
  <div class='container'>

    <h1 class="centered">PhoenixBird's Diversity Network</h1>
    <% @logos.each do |logo| %>

      <div class= "mentor-box">
          <div class='diversity-logo-image-wrapper'>
            <%= image_tag( logo.image.url, class: "diversity-logo-image") %>
          </div>
          <h2 class= "team-member-name"><%= logo.name %></h2>
          <p class= "team-member-bio"><%= nl2br(h(logo.info)).html_safe %></p>
      </div>

    <% end %>


  </div>
</div>


<script type="text/javascript">
    $('header').addClass('__white');
</script>
