<% title "DreamFunded | FAQs " %>

<div style="background-image: url(assets/template/howitworks/top-bg.jpg)" class="pageTopBlock">
              <div class="container">
                <div class="pageTopBlock__inn">
                  <div class="pageTopBlock__title">
                    <h1>How It Works</h1>
                  </div>
                  <div class="pageTopBlock__top-txt"><span>DreamFunded enables everyone to invest in private companies.</span></div>
                </div>
              </div>
            </div>
            <div class="howitworks">
              <div class="howitworks__block">
                <div class="container">
                  <div class="howitworks__title">
                    <h3>Investors</h3>
                  </div>
                  <div class="howitworks__cnt">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi1-icon"></i></div>
                          <div class="howitworks__it__title"><span>Become a Member</span></div>
                          <div class="howitworks__it__txt">
                            <p>DreamFunded is a world-class equity crowdfunding platform providing exclusive insider access to some of the most sought after seed and later stage private tech companies.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi2-icon"></i></div>
                          <div class="howitworks__it__title"><span>Browse and Learn</span></div>
                          <div class="howitworks__it__txt">
                            <p>Equity crowdfunding has an equity ownership component. This means that investors are investing into a company in return for an equity ownership stake in that company.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi3-icon"></i></div>
                          <div class="howitworks__it__title"><span>Invest</span></div>
                          <div class="howitworks__it__txt">
                            <p>Insider access to pre-screened deals is a major benefit. We utilize our network to gain access to promising startups. We thoroughly vet startups prior to featuring.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="howitworks__block __white">
                <div class="container">
                  <div class="howitworks__title">
                    <h3>Founders</h3>
                  </div>
                  <div class="howitworks__cnt">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi4-icon"></i></div>
                          <div class="howitworks__it__title"><span>Apply</span></div>
                          <div class="howitworks__it__txt">
                            <p>Access our Network of 150,000+ Investors</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi5-icon"></i></div>
                          <div class="howitworks__it__title"><span>Raise</span></div>
                          <div class="howitworks__it__txt">
                            <p>Showcase Your Company & Accept Investments Directly Online</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="howitworks__it__arr"></div>
                        <div class="howitworks__it">
                          <div class="howitworks__it__icon"><i class="icon howi6-icon"></i></div>
                          <div class="howitworks__it__title"><span>Grow</span></div>
                          <div class="howitworks__it__txt">
                            <p>Focus on Building your Business & Spend Less Time on Fundraising</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mainStart">
              <div class="container"><a href="#" class="btn btn-blue __lg">Get Started</a></div>
            </div>
