<div class= "wrapper">



    <div class= "word-content">
        <div class= "text-content">

            <% if current_user.authority == authority[:Admin] %>
                <%= link_to 'Edit', "/posts/#{@post.id}/edit/latino", :"data-no-turbolink" => true, :class => 'right' %>
            <% end %>

            <p class= "faq-answer">
                <%= @post.content.html_safe %>
            </p>

        </div>
    </div>
</div>
