<%= title "PhoenixBird | Authorization Error"%>


<div class="about">
  	<div class="container">
  		<h1>Authorization Error</h1>

		<h2 class= "centered"> Sorry, you are not authorized to view this page </h2>

		<p >This might be for one of the following reasons:</p>

		<ul>
			<li>Your account is not verified.</li>
			<li>This is an administrator-only page.</li>
		</ul>
		<br>
		<p>If you believe there is an error, please contact us.</p>
		<br>

	</div>
</div>

<script type="text/javascript">
    $('header').addClass('__white');
</script>
