<div class='news'>
    <div class='container'>

        <h1>Editing event</h1>
        <center>
          <%= render 'form' %>
        </center>
        <%= link_to 'Show', @event %> |
        <%= link_to 'Back', events_path %>

    </div>
</div>


<script type="text/javascript">
    $('header').addClass('__white');
</script>
