<section  class='company-section questions-section' >
    <h1 class="section-title">Questions</h1>

    <% @questions.each do |question| %>
        <div class="questions-container">
            <div class="questions-header">
                <span> <%= question.question%> </span>
                <span class='angle-down'><i class="fa fa-angle-down " aria-hidden="true"></i></span>
                <span class='angle-up'><i class="fa fa-angle-up " aria-hidden="true"></i></span>
            </div>
            <div class="questions-content">
                <%= question.answer %>
            </div>
        </div>
    <% end %>

</section>

