<section  class='company-section questions-section' >
                <h1 class="section-title">Questions</h1>

                <div class="questions-container">
                    <div class="questions-header">
                        <span>Can I make money from this? </span>
                        <span class='angle-down'><i class="fa fa-angle-down " aria-hidden="true"></i></span>
                        <span class='angle-up'><i class="fa fa-angle-up " aria-hidden="true"></i></span>
                    </div>
                    <div class="questions-content">
                        That’s the whole point! This is completely different than Kickstarter or Indiegogo, where you donate in exchange for a reward, perk or pre-sale of the product. When you invest in DreamFunded, you are buying stock in the company. Our job is to make the value of that stock go up!
                    </div>
                </div>

                <div class="questions-container">
                    <div class="questions-header">
                        <span>How does DreamFunded make money?  </span>
                        <span class='angle-down'><i class="fa fa-angle-down " aria-hidden="true"></i></span>
                        <span class='angle-up'><i class="fa fa-angle-up " aria-hidden="true"></i></span>

                    </div>
                    <div class="questions-content">
                        We’re taking a proven business model (content production) and adding a twist that gives us a competitive advantage: fan ownership! Hollywood is fiercely competitive, but there is money to be made if you are successful… especially if you are working with people that have a track record of success.
                    </div>
                </div>

                <div class="questions-container">
                    <div class="questions-header">
                        <span>Do you offer perks? </span>
                        <span class='angle-down'><i class="fa fa-angle-down " aria-hidden="true"></i></span>
                        <span class='angle-up'><i class="fa fa-angle-up " aria-hidden="true"></i></span>
                    </div>
                    <div class="questions-content">
                        Your investment level doesn’t “buy” you perks. After all, people who invest in Apple don’t get free iPhones! Giving away perks like that dilutes our ability to make our projects successful. Instead, we offer something much better… a chance to peek behind the curtain, become part of a community, participate in fun events and help steer a media company to success!
                    </div>
                </div>

                <div class="questions-container">
                    <div class="questions-header">
                        <span>What is DreamFunded’s competitive advantage?</span>
                        <span class='angle-down'><i class="fa fa-angle-down " aria-hidden="true"></i></span>
                        <span class='angle-up'><i class="fa fa-angle-up " aria-hidden="true"></i></span>
                    </div>
                    <div class="questions-content">
                        Our competitive advantage is our community. As of this writing, we have over 3100 investors and 8500 members! By allowing people to own equity and come along for the ride, we’re building a legion of fans that are financially and emotionally invested in our projects' success. That’s a huge advantage when it comes to things like marketing, monetization, distribution, etc.
                        <br><br>
                        If you think about it, fans hold all the power in the entertainment industry. We buy the tickets, pay the subscriptions, and decide what to watch.
                    </div>
                </div>

</section>
<hr class="div">
