<section class="edit-accredited">

        <h2 class="section-title">You can not edit your campaign when it is live.</h2>

        <h2 class="section-title">Contact DreamFunded if you want to change something.</h2>

</section>
