<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Congratulations!</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Your investment commitment is in! Since you have chosen to fund your investment via ACH, funds will be drawn from your account automatically in 1-2 business days. You will be sent an e-mail when your funds have been received and further instructions if we need anything else. Thank you!</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>If you have any questions or need further assistance in funding your commitment, please contact info@dreamfunded.com.</p>

<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>Sincerely,</p>
<p style='font-family:Georgia,Palatino,serif;font-size:16px;margin-bottom:24px;padding:0px;line-height:22px;max-width:540px'>DreamFunded Team</p>
