<p style='font-family: 'Open Sans', sans-serif; font-size:12px;'>Dear <%= @user.first_name%>,</p>

<p style='font-family: 'Open Sans', sans-serif; font-size:12px;'>Thank you for applying on DreamFunded.</p>

<p style='font-family: 'Open Sans', sans-serif; font-size:12px;'>We appreciate the opportunity to consider you on our platform. We've reviewed <%= @company.name %> and have decided to proceed with other candidates who meet our needs more closely at this time. This was an extremely competitive process, and we received hundreds of applications. This was definitely a tough decision for us, as you were a solid candidate.
We wish you the best in your future endeavors!</p>

<p style='font-family: 'Open Sans', sans-serif; font-size:12px;'>Thanks again,</p>

<p style='font-family: 'Open Sans', sans-serif; font-size:12px;'>DreamFunded Team</p>
