.media-table{
    margin-top: 20px;
    padding: 10px;
    display: block;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 761px;
}

.media-table a img {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 10px;
    padding-right: 20px;
    mix-blend-mode: multiply;
    opacity: 1;
    box-sizing: content-box;
}

.media-table a img:hover {
    background: #eee;
}
.mentioned-in a img:hover {
    background: #fff;
}
