/*===================================
=            investments            =
===================================*/
.companies-bg{
  background-image: url(image_path('template/main/mainTop-bg.jpg'));
}
.investments {
  padding-top: 70px;
  padding-bottom: 50px;
}
.investments .row {
  margin-left: -10px;
  margin-right: -10px;
}
.investments .col-md-4 {
  padding-left: 10px;
  padding-right: 10px;
}
.investments .compthumb {
  margin-bottom: 20px;
}
.funder-by-accredited{
  color: #333 !important;
}
@media (max-width: 767px) {
  .investments .compthumb {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*=====  End of investments  ======*/
