// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.users.profile,
.users.show {

  .image-container {
    padding: 10px;
    background-color: $lightgray;
    border: 1px $darkgray solid;
    display: inline-table;
    border-radius: 2px;
    margin-bottom: 1rem;

    a {
      display: block;
      text-align: center;
    }

    .fa {
      line-height: 80px;
      font-size: 2.5rem;
    }

    img {
      vertical-align: middle;
    }

    .media-object {
      width: 80px;
      height: 80px;
      background-color: white;
    }
  }

  .user-investment {
    margin-bottom: 1rem;

    img {
      width: 70px;
      height: 70px;
    }

    .image-container {
      padding: 20px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .grey-color {
      font-size: 12px;
    }
  }

  .verifications {
    line-height: 1.5rem;

    .fa-check-circle-o {
      font-size: 1.5rem;
    }
  }
}