/*Strip the ul of padding and list styling*/
#menu {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
    background-color: #fff;
    width: 100%;
}


/*Create a horizontal list with spacing*/
#menu li {
    display:inline-block;
    position: relative;
    float: right;
    margin-right: 1px;
}
.logo-float{
    float: left !important;
    margin-left: 20px;
}


/*Style for menu links*/
#menu li a {
    display:block;
    padding: 0 17px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #10a1d6;
    background: #fff;
    text-decoration: none;
    cursor: pointer;
}

/*Hover state for top level links*/
#menu li:hover a {
    background: #DFDFDF;
    position: relative;
}

/*Style for dropdown links*/
#menu li:hover ul a {
    background: #fff;
    color: #10a1d6;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
#menu li:hover ul a:hover {
    background: #DFDFDF;
    color: #10a1d6;
}



/*Hide dropdown links until they are needed*/
#menu li ul {
    display: none;
}

/*Make dropdown links vertical*/
#menu li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
#menu li ul li a {
    width: auto;
    /*min-width: 100px;*/
    padding: 0 20px;
}

/*Display the dropdown on hover*/
#menu li a:hover + .hidden, #menu li .hidden:hover {
    display: block;
    width: 130%;
    min-width: 170px;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: right;
    padding: 10px 10px;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/
@media screen and (max-width : 1120px){
    #menu li a{
        font-size: 15px;
        padding: 0 12px;
    }
}

@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    #menu {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    #menu li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    #menu li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}


