@import "colors";

@media only screen
and (min-width : 320px)
and (max-width : 1124px) {
	.big-title {
		top: 250px;
	}

	h1 {
		font-size: 40px;
	}

	.sky {
		max-height: 600px;
		width: auto;
	}

	h3 {
		font-size: 18px;
	}

	.invest-button {
		min-width: 200px;
	}

	#newsletter-submit-button {
		margin-top: 10px;
	}
}

//logos issues
@media only screen
and (min-width : 320px)
and (max-width : 1200px) {

}

// section2 issues
@media only screen
and (min-width : 320px)
and (max-width : 1075px) {

}